html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: Poppins, sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
}

.moduleWrapper {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
